@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f0efe9;
  font-family: "Sunflower", sans-serif;
}
::-webkit-scrollbar {
  width: 0;
}
.checkInput input + label {
  width: 12px;
  height: 12px;
  margin-top: 4px;
  border: 2px solid #bbb;
  display: inline-block;
  vertical-align: middle;
  user-select: none /* 드래그 금지 */
}
.checkInput:hover input + label {
  border-color: #6eceab;
}
.checkInput input + label + label {
  display: inline-block;
  font-size: 16px;
  top: 4px;
  position: relative;
  margin-left: 8px;
  width: 92%;
}

/* 모바일 */
@media screen and (max-width: 767px) {
  
}

/* 타블렛 */
@media screen and (max-width: 1023px) {
  body {
    background-color: #fff;
    overflow: hidden;
  }
  .textP1 {
    display: none;
  }
  .formContainer1 {
    margin-top: 52px;
  }
  .checkInput input + label + label {
    font-size: 18px;
    top: 3px;
  }
}